# Diretórios do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Diretórios do Expo
.expo/
.expo-shared/

# Diretórios do React Native
android/
ios/

# Diretórios do Babel
.babelrc
.babelrc.js
.babelrc.json
.babelrc.cjs
.babelrc.mjs
.babelrc.ts
.babelrc.cts
.babelrc.mts

# Diretórios do Metro
.metro/
packager-info.json
react-native.config.js
